html,
body {
  background-color: #fff;
  color: #000;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: stretch;
  justify-content: flex-start;
}

.content-container {
  position: relative;
  width: 1186px;
  margin: 0 auto;
}

.page-header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0 120px 0;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-image {
  width: 58px;
  height: 58px;
  margin-right: 25px;
  background: url("../img/logo.svg") no-repeat;
  background-size: contain;
}

.logo-sign {
  color: #202020;
  font-weight: 700;
  font-size: 24px;
}

.page-menu > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.page-menu > ul > li {
  margin: 0 18px;
  font-weight: 700;
  color: #202020;
}

a {
  text-decoration: none;
  color: inherit;
}

.href-btn {
  background-color: #5528ff;
  color: #fff;
  border-radius: 5px;
  padding: 5px 15px;
}

h1 {
  font-size: 57px;
  font-weight: 700;
  text-align: center;
  color: #202020;
}

.page-header-bottom > p {
  max-width: 740px;
  font-size: 32px;
  margin-bottom: 70px;
  color: #4f4f4f;
}

.page-header-bottom > .href-btn {
  display: inline-block;
  font-size: 24px;
  border-radius: 10px;
  padding: 15px 60px;
  margin-bottom: 100px;
}

.page-main {
  flex-grow: 1;
}

.page-main > section {
  border-top: 1px solid #c2c2c2;
}

h2 {
  position: relative;
  display: inline-block;
  padding: 0 40px 0 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #c2c2c2;
  background-color: white;
  top: -14px;
  left: -20px;
}

.services-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 100px 0 15px 0;
}

.services-item {
  padding: 0 0 0 160px;
  margin: 0 0 85px 0;
  flex-basis: 470px;
  position: relative;
}
/* 
Убираем лишние нижние отступы у последних элементов
.services-item:last-of-type, .services-item:nth-last-of-type(2) {
  margin-bottom: 0;
} */

.services-item > p {
  line-height: 1.5;
  color: #b2b2b2;
}

.services-item::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 160px;
  height: 110px;
  left: 0px;
}

.services-mobile::before {
  background: url("../img/services/phone.svg") no-repeat center;
}

.services-web::before {
  background: url("../img/services/union.svg") no-repeat center;
}

.services-product::before {
  background: url("../img/services/layers.svg") no-repeat center;
}

.services-quality::before {
  background: url("../img/services/test.svg") no-repeat center;
}

h3 {
  font-weight: 400;
  font-size: 28px;
  margin-bottom: 20px;
}

.clients-block {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 50px 0;
}

.clients-block > a {
  transition: filter 0.2s ease-out;
  width: 250px;
  height: 60px;
  margin-bottom: 50px;
  text-align: center;
}

.clients-block > a:hover {
  filter: drop-shadow(0 0 20px #5528ff);
}