html,
body {
  background-color: #fff;
  color: #000;
  font-family: "Ubuntu", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

iframe {
  max-width: 100% !important
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: stretch;
  justify-content: flex-start;
}

.content-container {
  width: 1186px;
  margin: 0 auto;
}

.page-header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0 107px 0;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-image > img {
  width: 58px;
  height: 58px;
  margin-right: 25px;
  vertical-align: bottom;
}

.logo-sign {
  color: #202020;
  font-weight: 700;
  font-size: 24px;
}

.page-menu > ul {
  display: flex;
  margin: 14px 4px 0 0;
  list-style-type: none;
  justify-content: space-between;
}

.page-menu > ul > li {
  margin-left: 38px;
  font-weight: 700;
  color: #202020;
}

a {
  text-decoration: none;
  color: inherit;
}

.href-btn {
  background-color: #5528ff;
  color: #fff;
  border-radius: 5px;
  padding: 4px 14px;
}

h1 {
  margin-bottom: 20px;
  font-size: 57px;
  font-weight: 700;
  text-align: center;
  color: #202020;
}

.page-header-bottom > p {
  max-width: 740px;
  font-size: 32px;
  line-height: 1.6;
  margin-bottom: 70px;
  color: #4f4f4f;
}

.href-btn-big {
  display: inline-block;
  background-color: #5528ff;
  color: #fff;
  font-size: 24px;
  border-radius: 10px;
  padding: 12px 58px;
  margin-bottom: 107px;
}

.page-main {
  flex-grow: 1;
}

.page-main > section {
  border-top: 1px solid #c2c2c2;
}

h2 {
  display: inline-block;
  position: relative;
  padding: 0 40px 0 20px;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  color: #c2c2c2;
  background-color: #fff;
  top: -12px;
  left: -20px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 84px 0 35px;
  list-style-type: none;
}

.services-item {
  position: relative;
  width: 450px;
  padding-left: 134px;
  margin: 0 59px 77px 0px;
}

h3 {
  font-weight: 400;
  font-size: 28px;
  margin-bottom: 11px;
}

.services-item > p {
  color: #b2b2b2;
}

.services-item::before {
  display: inline-block;
  position: absolute;
  content: "";
  text-align: center;
  width: 134px;
  height: 100%;
  left: -19px;
  top: 31px;
}

.services-mobile::before {
  content: url("../img/services/phone.svg");
}

.services-web::before {
  content: url("../img/services/union.svg");
}

.services-product::before {
  content: url("../img/services/layers.svg");
}

.services-quality::before {
  content: url("../img/services/test.svg");
}

.clients-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 36px 0 71px;
  list-style-type: none;
}

.clients-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 276px;
  height: 60px;
  margin: 0 8px 39px 0;
}

.clients-item > a {
  transition: filter 0.2s ease-out;
  font-size: 1.5rem;
  color: #b2b2b2;
}

.clients-item > a > img {
  vertical-align: middle;
}

.clients-item > a:hover,
.clients-item > a:focus {
  outline: none;
  filter: drop-shadow(0 0 20px #5528ff);
}

.team-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 88px 0 40px;
  list-style-type: none;
}

.team-item {
  position: relative;
  width: 352px;
  height: 100px;
  padding-left: 133px;
  margin: 0 25px 60px 0;
}

.team-item-name {
  display: block;
  font-weight: 700;
  font-size: 28px;
  margin: 10px 0 6px;
  color: #202020;
}

.team-item-about {
  display: block;
  font-weight: 400;
  font-size: 14px;
  color: #b2b2b2;
}

.team-item::before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 100px;
  height: 100px;
  left: 0;
  border-radius: 50% 50%;
  overflow: hidden;
}

.team-vadim::before {
  content: url("../img/team-photos/vadim.png");
}

.team-sergey::before {
  content: url("../img/team-photos/sergey.png");
}

.team-andrey::before {
  content: url("../img/team-photos/andrey.png");
}

.team-alex::before {
  content: url("../img/team-photos/alex.png");
}

.team-agneshka::before {
  content: url("../img/team-photos/agneshka.png");
}

.team-dmitry::before {
  content: url("../img/team-photos/dmitry.png");
}

.team-artyom::before {
  content: url("../img/team-photos/artyom.png");
}

.team-evgeny::before {
  content: url("../img/team-photos/evgeny.png");
}

.team-tom::before {
  content: url("../img/team-photos/tom.png");
}

.page-footer {
  background-color: #f7f7f7;
}

.page-footer-block {
  display: flex;
  min-height: 100px;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  padding-left: 16px;
}

.footer-logo > img {
  width: 60px;
  height: 60px;
  vertical-align: bottom;
}

.social {
  color: #b2b2b2;
  font-family: "Socials";
  font-size: 24px;
}

.social > a {
  margin: 0 6px 0 28px;
}
